{% autoescape off %} 
Здравствуйте, {{ user.username }} это ссылка для подтверждения, смены пароля: http://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %} 
Пожалуйста,перейдите по ссылке для  подтверждения, в течение следующих 5 минут.
Если  это были не вы, проигнорируйте данное сообщение!
Если у вас возникли проблемы или вопросы, свяжитесь с нашей службой поддержки по адресу marketplaceariv@gmail.com.

Спасибо за использование наших услуг.
С наилучшими пожеланиями,
MarketplaceArIv"""

{% endautoescape %} 