  {% extends 'base.html' %}
  {% load static %}

  {% block title %}
    Топ продавцов
  {% endblock %}

  {% block content %}
  
  <ul class="nav nav-pills sticky-top bg-white nav-fill">
    <li class="nav-item">
      <a class="nav-link" href="{% url 'main-page'%}">
        <span style="font-weight: bold;">Главная</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'top-sellers' %}"><span style="font-weight: bold;">Топ продавцов</span>
      </a>
    </li>
    {% if user.is_authenticated %}
    <li class="nav-item">
      <a class="nav-link" href="{% url 'advertisement-post' %}">
        <span style="font-weight: bold;">Разместить объявление</span>
      </a>
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="{% url 'profile' %}">
          <span style="font-weight: bold;">Профиль</span>
        </a>
      </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'logout' %}">
        <span style="font-weight: bold;">Выйти</span>
      </a>
    </li>
    {% else %}
 
    <li class="nav-item">
      <a class="nav-link" href="{% url 'register' %}">
        <span style="font-weight: bold;">Регистрация</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'login' %}">
        <span style="font-weight: bold;">Войти</span>
      </a>
    </li>
    {% endif %}
 <!--  --> <!--  --> <!--  --> <!--  --> <!--  --> <!--  --> <!--  --> <!--  --> <!--  --> <!--  --> <!--  --> <!--  -->
 <div class="container">
  <div class="col-lg-12">
      <div class="col-lg-9">
          <h4 class="mt-3 mb-3">Объявление пользователя: {{ user.username }}</h4>
          
          <div class="col-lg-12 text-center ">
              <img width="200" height="200"
                   src="{% if user.image %} {{ user.image.url }} {% else %} {% static '/img/shop.png' %} {% endif %}"
                   class="img-thumbnail">
          </div>
            <div class="form-row">
                <div class="col-lg-8">
                  <div class="form-group">
                    <h4 class="lg mb-1">Name</h4>
                    {{user.first_name}}         
                </div>
            </div>
          </div>
          <div class="form-row">
            <div class="col-lg-8">
              <div class="form-group">
                  <h4 class="lg mb-1">Surname</h4>
                  {{user.last_name}}
              </div>
          </div>
      </div>

      {% endblock %}


      <!-- Объявление пользователя: {{ user.username }} -->
      <!-- <span>Имя: {{ user.first_name }}</span> --> 